/*GBC Custom Header MODIFY TEST*/
.hrule {
	height: 100px;
	width: 103%;
	box-shadow: 0 1px 10px rgba(0,0,0,.1);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
	background-image: -o-linear-gradient(top, #ffffff, #ffffff);
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	background-repeat: repeat-x;
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0); */
	border: 1px solid #e0e0e0;
	margin-bottom: 20px;
}
.hruleContainer {
	position: absolute;
	top: -5px;
	left: -5px;
	height: 130px;
	width: 100%;
	z-index:-1;
	overflow: hidden;
}
.breadcrumb {
	font-size: 1.2em;
	margin-top: 15px;
}
.breadcrumb > ol {
	display: inline;
	margin: 0;
}
.breadcrumb > ol > li {
	display: inline;
	padding: 0;
}
.betaphase-banner {
	background: #f47738;
	padding: 8px 15px;
	margin-top: 15px;
	border-radius: 4px;
	font-size: 110%;
}
.betaphase-banner a {
	color: #333;
	text-decoration: underline;
}
.betaphase-banner a:hover {
	color: #6f777b;
}
.betaphase-banner a:focus {
	background-color: #ffbf47;
	outline: 3px solid #ffbf47;
}
.beta-tag {
	display: inline-block;
	background: #f47738;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	padding: 5px 5px 2px 6px;
	vertical-align: middle;
	margin-right: 10px;
}
/*GBC Custom Footer*/
.mini-links a {
	font-size: 10.5px;
}
.gbc-footer {
	/*  position:absolute;
		bottom:0px;
		height:80px;   */
	margin-top: 10%;
}

/*GBC Custom Bootstrap "Pot" */
.xheader {
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #138193;
}
.xheader h1 {
	border: none;
	margin-bottom: 0;
	/* padding: 0px 0 0 0px !important; */
	padding-left: 10px;
	color: #fff;
	font-weight: 700;
}
.bws h1 {
	color: #454545;
	font-size: 1.7em;
	font-weight: normal;
	border-bottom: 5px solid #138193;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.page-legacyform .formouter .bws h1 {
	color: #454545;
}
.page-legacyform .formouter .xheader h1 {
	color: #fff;
}
 .xpanel {
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding: 10px 10px 10px 15px;
	/* width: 97% !important; */
}

.xpanel >.subformel{
padding: 10px 10px 10px 15px;
border: 1px solid #C1DAE1;
border-radius: 4px;
}



.xpanel-default {
	border-color: #C1DAE1;
}
.xpanel-heading {
	font-weight: 700;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	/* border-top-left-radius: 3px;
	border-top-right-radius: 3px; */
	background-color: #E6F0F3;
	border-color: #C1DAE1;
}
.xalert {
	padding: 15px;
	/* margin-bottom: 20px; */
	border: 1px solid transparent;
	border-radius: 4px;
	font-weight: 700;
}
.xalert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.xalert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.xalert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.xalert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

/*GBC Custom FORMS*/
.aftextinput, .aftextarea, .afselectbox, .renderbuttonstable select {
	border: 1px solid #ccc;
	float: none;
	font-size: 14px;
	padding: 0.2em;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	/* overflow: auto; */
	width: 100%;
}
.afselectbox select {
	border: 1px solid #ccc;
}
.afnavbuttons {
	background-color: #138193;
	border-radius: 5px;
	padding: 10px;
}
.genericsubmit.navbuttons {
	padding: 6px 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	color: #333;
	background-color: #ffffff;
	/* border-color: #ccc !important; */
	margin: 5px;
}
.previous:hover,
.previous:focus,
.previous:active,
.nextbutton:hover,
.nextbutton:focus,
.nextbutton:active {
	color: #333333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.nextbutton {
	/* background: url('//fs-filestore-eu.s3.amazonaws.com/guildford/Self/images/button_right.png') no-repeat center!important; */
	float: right;
}
.submitform {
	float: right;
	color: #fff;
	background-color: #5cb85c;
	border-color: #fff;
}
.submitform:hover,
.submitform:focus,
.submitform:active,
.submitform.active{
	background-color: #449d44;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}
 .cancelbutton {
	color: #fff;
	background-color: #d9534f;
	/* border-color: #d43f3a; */
}
.cancelbutton:hover,
.cancelbutton:focus,
.cancelbutton:active,
.cancelbutton.active {
	background-color: #c9302c;
	/* border-color: #ac2925; */
}

/* BASE FIRMSTEP OVERRIDING */
.page-legacyform .progressbartoptable .inactivenav .progress1nonclickable {
	background-color: #138193;
}
.progressbartoptable .activenav .progress1nonclickable, 
.progressbartoptable .inactivenav .progress1nonclickable, 
.progressbartoptable .activenav .progress1, 
.progressbartoptable .inactivenav .progress1, 
.progressbartoptable .inactivenav .progressvalid,
.progressbartoptable .inactivenav .progress0nonclickable,
.progressbartoptable .inactivenav .progress0  {
	display: inline-block;
	margin: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #0D5A67;
	border-radius: 4px;
	color: #fff;
	background: #138193;
	padding: 2px 6px;
	font-size: 12px;
	line-height: 1.5;
}
.progressbartoptable .inactivenav .progress0nonclickable,
.progressbartoptable .inactivenav .progress0 {
	border-color: #ccc;
	color: #333;
	background: #fff;
}

/*using this*/
.afternavbutton:after{
border-style: none !important;
}
/*instead of this*/
/*
.page-legacyform .activenav .progress1.activesection+.afternavbutton:after {
	border-style: none;
}
.page-legacyform .inactivenav .afternavbutton:after {
	border-style: none;
}
*/

.page-legacyform .content.container .aftextinput, 
.page-legacyform .content.container .aftextarea,
.page-legacyform .content.container .afselectbox,
.page-legacyform .content.container .renderbuttonstable select,
.page-legacyform .dataelr .aftextinput, .page-legacyform .aftextarea,
.page-legacyform .afselectbox, .page-legacyform .renderbuttonstable select,
.page-legacyform .renderbuttonstablesidenav select,
.page-legacyform .bws.control .SelectOne {
	border: 1px solid #aaa;
}
.page-legacyform .progressbartoptable .activenav .progress1,
.page-legacyform .progressbartoptable .inactivenav .progress1,
.page-legacyform .progressbartoptable .activenav .progressvalid,
.page-legacyform .progressbartoptable .inactivenav .progressvalid 
{
	background-color: #138193 !important;
	border-color: #0D5A67;
}
.page-legacyform .content.container .formouter,
.page-legacyform .reviewform,
#container-padding .formouter,
.page-legacyform .reviewform {
	margin: 0 auto;
	display: block;
}

/*BRANDING AND MENU OVERRIDING*/
.brand-image {
	margin: 10px 0 10px -15px;
	vertical-align: baseline;
}
.header {
	display: table;
}
.navbar-header {
	display: none;
}
#toolbar .login-link {
	color: #138193;
}
.navbar{
	margin-bottom: 0;
}
.navbar-inverse {
	background-color: #fff;
	border: none;
	min-height: 0;
	max-height: 0;
	position: absolute;
}
.navbar .btn-group .btn-primary {
	color: #08c;
	background-color: #fff;
	border-color: #ccc ;
	padding: 6px 10px;
}
#sessionBadge .btn.btn-inverse {
	background-color: #fff !important;
	color: #08c !important;
	border-color: #08c !important;
}
.navbar .btn:hover,
.navbar .btn:focus,
.navbar .btn:active,
.navbar .btn.active {
	/* outline: 0; */
	background-image: none;
	/* -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); */
	/* box-shadow: inset 0px 0px 10px rgba(19, 129, 147, 0.7); */
	 background-color: #08c;
	 color: #fff;
}
.navbar .btn-group .btn-primary.active .caret {
	display: none !important;
}
.service-groups a.fsservice-pretty-link:link,
.service-groups a.fsservice-pretty-link:visited {
	border: 1px solid #addbe7;
	padding: 1em 1em .5em;
	background: #eff3f7;
	border-radius: .5em;
	margin-bottom: 8px;
	color: #0088cc;
}
.service-groups .menu li {
	width: 32.5%;
}
.leaf h2{
	font-size: 1.2em;
	line-height: 1em;
	margin: 0 0 .3em;
}
.leaf h2:hover{
	text-decoration: underline;
}
.lowlight {
	background: whitesmoke;
	padding: 0 1em .75em;
	border-radius: .5em;
	border: .1em solid whitesmoke;
	margin-bottom: .9em;
}
.form-search {
	background-image: url('//www.guildford.gov.uk/guildford/images/search.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}
